.detail-text{
    padding-left:10px;
}
.container{
    height:100%;
    overflow:hidden;
    flex-direction: column;
    display: flex;
}
.loading-container{
    margin:auto;
    position: relative;
    
    top:10px;
}

.card-title{
    font-size: 1.2rem;
}
.card{
    display: flex;
    flex-direction: column;
}
.detail-text{
    margin-top:7px;
    margin-bottom:5px;
}

.row:nth-child(2){
    margin-top:40px;
}
