
.feature-container{
    display: flex;
    flex-basis: 100%;
    overflow: hidden;
    min-height:400px;
    justify-content: space-between;
    flex-direction: column;
}

.next-hours-report{
    border:1px solid red;
}
.city{
    height: 350px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.city:not(:first-child){
    margin-top:40px;

}

@media (min-width: 768px){
    .feature-container{
        width:80%;
        margin:auto;
        flex-direction: row;

    }
    .city:not(:first-child){
        margin-top:0px;
    
    }
}

