.weather-container{
    height:500px;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}
.city-weather{
    display: flex;
    background-color: azure;
    flex-basis: 20%;
   
    height:100%;
}