/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.text-center{
    text-align: center;
}
html,body{
    padding: 0px 4px;
}
.no-padding{
    padding:0px !important;
}